In [1]:
import pandas as pd
import numpy as np

Import Dataset

In [2]:
df = pd.read_csv("fuel.csv")
df

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (68,70,71,72,73,74,76,79) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,29.964545,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,12.207778,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,29.964545,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41192,14.982273,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
41193,14.330870,0.0,0.0,0.0,20,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
41194,15.695714,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
41195,15.695714,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
41196,18.311667,0.0,0.0,0.0,16,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

Data Cleaning

In [3]:
df= df.replace(0,np.nan)
df = df.dropna(axis='columns')
df.head()

,barrels08,city08,co2A,comb08,feScore,fuelCost08,fuelType,fuelType1,ghgScore,highway08,id,make,model,mpgData,phevBlended,VClass,year,createdOn,modifiedOn
0,15.695714,19,-1,21,-1,1900,Regular,Regular Gasoline,-1,25,1,Alfa Romeo,Spider Veloce 2000,Y,False,Two Seaters,1985,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013
1,29.964545,9,-1,11,-1,3600,Regular,Regular Gasoline,-1,14,10,Ferrari,Testarossa,N,False,Two Seaters,1985,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013
2,12.207778,23,-1,27,-1,1450,Regular,Regular Gasoline,-1,33,100,Dodge,Charger,Y,False,Subcompact Cars,1985,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013
3,29.964545,10,-1,11,-1,3600,Regular,Regular Gasoline,-1,12,1000,Dodge,B150/B250 Wagon 2WD,N,False,Vans,1985,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013
4,17.347895,17,-1,19,-1,2600,Premium,Premium Gasoline,-1,23,10000,Subaru,Legacy AWD Turbo,N,False,Compact Cars,1993,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013

In [4]:
df = df.drop('createdOn', axis='columns')
df = df.drop('modifiedOn', axis='columns')
df.head()

,barrels08,city08,co2A,comb08,feScore,fuelCost08,fuelType,fuelType1,ghgScore,highway08,id,make,model,mpgData,phevBlended,VClass,year
0,15.695714,19,-1,21,-1,1900,Regular,Regular Gasoline,-1,25,1,Alfa Romeo,Spider Veloce 2000,Y,False,Two Seaters,1985
1,29.964545,9,-1,11,-1,3600,Regular,Regular Gasoline,-1,14,10,Ferrari,Testarossa,N,False,Two Seaters,1985
2,12.207778,23,-1,27,-1,1450,Regular,Regular Gasoline,-1,33,100,Dodge,Charger,Y,False,Subcompact Cars,1985
3,29.964545,10,-1,11,-1,3600,Regular,Regular Gasoline,-1,12,1000,Dodge,B150/B250 Wagon 2WD,N,False,Vans,1985
4,17.347895,17,-1,19,-1,2600,Premium,Premium Gasoline,-1,23,10000,Subaru,Legacy AWD Turbo,N,False,Compact Cars,1993

In [5]:
df

,barrels08,city08,co2A,comb08,feScore,fuelCost08,fuelType,fuelType1,ghgScore,highway08,id,make,model,mpgData,phevBlended,VClass,year
0,15.695714,19,-1,21,-1,1900,Regular,Regular Gasoline,-1,25,1,Alfa Romeo,Spider Veloce 2000,Y,False,Two Seaters,1985
1,29.964545,9,-1,11,-1,3600,Regular,Regular Gasoline,-1,14,10,Ferrari,Testarossa,N,False,Two Seaters,1985
2,12.207778,23,-1,27,-1,1450,Regular,Regular Gasoline,-1,33,100,Dodge,Charger,Y,False,Subcompact Cars,1985
3,29.964545,10,-1,11,-1,3600,Regular,Regular Gasoline,-1,12,1000,Dodge,B150/B250 Wagon 2WD,N,False,Vans,1985
4,17.347895,17,-1,19,-1,2600,Premium,Premium Gasoline,-1,23,10000,Subaru,Legacy AWD Turbo,N,False,Compact Cars,1993
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41192,14.982273,19,-1,22,-1,1800,Regular,Regular Gasoline,-1,26,9995,Subaru,Legacy,N,False,Compact Cars,1993
41193,14.330870,20,-1,23,-1,1750,Regular,Regular Gasoline,-1,28,9996,Subaru,Legacy,N,False,Compact Cars,1993
41194,15.695714,18,-1,21,-1,1900,Regular,Regular Gasoline,-1,24,9997,Subaru,Legacy AWD,Y,False,Compact Cars,1993
41195,15.695714,18,-1,21,-1,1900,Regular,Regular Gasoline,-1,24,9998,Subaru,Legacy AWD,Y,False,Compact Cars,1993
41196,18.311667,16,-1,18,-1,2750,Premium,Premium Gasoline,-1,21,9999,Subaru,Legacy AWD Turbo,N,False,Compact Cars,1993